{% extends 'todo/base.html' %} {% block content %}

<div class="section mt-5">
  <form action="{% url 'add' %}" method="post">
    {% csrf_token %}
    <div class="input-group mb-3">
      <input
        name="title"
        type="text"
        class="form-control"
        placeholder="Mau ngapain hari ini?"
      />
      <div class="input-group-append">
        <button class="btn btn-outline-dark" type="submit" id="button-addon2">
          Add
        </button>
      </div>
    </div>
  </form>
</div>
<div class="section mt-5">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Todo's</th>
        <th scope="col">Created</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for todo in todos %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td {% if todo.done %} class="title-column" {% endif %}>{{ todo.title }}</td>
        <td>{{ todo.created_at }}</td>
        <td>
          <a href="{% url 'update' todo.id %}" class="badge badge-primary">Done</a>
          <a href="{% url 'delete' todo.id %}" class="badge badge-danger">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}


{% block style %}
<style>
  .title-column {
    text-decoration: line-through;
  }
</style>
{% endblock style%}
